{{ define "main" }}
  <main id="main">
  
  	<div class="container">
  
  		<div class="row topspace">
  
  			<!-- Sidebar -->
  			<aside class="col-sm-4 sidebar sidebar-right">
  
  				<div class="nav text-right nav-side">
  					<li class="active">{{ .Title }}</li>
  				</div>
  
  			</aside>
  			<!-- /Sidebar -->
  
  			<!-- Article main content -->
  			<article class="col-sm-8 maincontent">
                  {{ .Content }}
  			</article>
  			<!-- /Article -->
  
  
  		</div>
  	</div>	<!-- /container -->
	  <div>
		{{ partial "carousel.html" (dict "context" . "items" "1" "height" "25" "unit" "%" "duration" "5000") }}
	  </div>
  </main>
{{ end }}
