
<!-- <div class="row">
    {{ range where .Data.Pages "Section" .Section }}
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">{{ .Title }}</h3>
        <p>{{ .Summary }}</p>
        <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
      </div>
    {{ end }}
</div> -->

{{ range where .Site.Pages "Type" "research" }}
<div class="row section topspace">
    <div class="col-md-12">
        <div class="lead">
           {{ .Content }}
        </div>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/eIVStPN2534" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <a href="http://www.youtube.com/watch?feature=player_embedded&v=eIVStPN2534
" target="_blank"><img src="http://img.youtube.com/vi/eIVStPN2534/0.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a> -->
    </div>
</div> <!-- / section -->
<!-- <div>
  {{ partial "carousel.html" (dict "context" . "items" "1" "height" "25" "unit" "%" "duration" "5000") }}
</div> -->
{{ end }}